p.main_title {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(169, 224, 243);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#classes_to_add {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: auto;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: rgb(43, 161, 78);
}

h1 {
  text-align: center;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

p {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

#jp {
  text-align: center;
}

#txt {
  text-align: center;
}

label {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}


/* CSS */
.button-add {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

.button-add:disabled {
  pointer-events: none;
}

.button-add:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-add:active {
  box-shadow: none;
  transform: translateY(0);
}

#buttonConfirm {
  appearance: none;
  background-color: #3f67bd;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

#buttonConfirm:disabled {
  pointer-events: none;
}

#buttonConfirm:hover {
  box-shadow: rgba(29, 59, 224, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#buttonConfirm:active {
  box-shadow: none;
  transform: translateY(0);
}

#buttonClear {
  appearance: none;
  background-color: #da3631;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

#buttonConfirm:disabled {
  pointer-events: none;
}

#buttonConfirm:hover {
  box-shadow: rgba(29, 59, 224, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#buttonConfirm:active {
  box-shadow: none;
  transform: translateY(0);
}

.class {
  border: #000000;
  border-style: solid;

}