p.main_title {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(169, 224, 243);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#classes_to_add {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 150px;
}

 li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
} 

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: rgb(43, 161, 78);
}

h1 {
  text-align: center;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

p {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

#txt {
  text-align: center;
}

label {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}


